*{
	margin: 0;
	padding: 0;
}

body, html { width: 100%; height: 100%; }

body{
	background: #000 url('/images/bg.jpg') top center no-repeat fixed;
	color: #999;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	padding: 40px 0 20px 0;
	text-align: center;
}

a{
	color: #b14647;
	text-decoration: none;
}
a:hover{ text-decoration: underline; }

p{ margin: 15px 0; }

h1, h2{ color: #000; font-weight: normal; }

#wrapper{
	margin: 0 auto;
	text-align: left;
	width: 650px;
}

#processing{
	background-color: #000;
	text-align: center;
}

#notice{
	background-color: #000;
	border: 2px solid #CCC;
	color: #FFF;
	padding: 10px 0;
	text-align: center;
}

.fl{ float: left; }
.fr{ float: right; }
.clear{ clear: both; }

.block, .remix, .pagination{ background-color: #fff; }
.block, .remix, .pagination, #info, #notice, #header{ margin-bottom: 10px; }
.block, .remix, .pagination, #processing{ padding: 20px; }
.block, .remix, #processing, .pagination, #notice{ -moz-border-radius: 5px; -webkit-border-radius: 5px; }
.upload_button, .uploadifyProgress, .uploadifyProgressBar{ -moz-border-radius: 13px; -webkit-border-radius: 13px; } 

.upload_button{
	background-color: #E3E3E3;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E3E3E3));
	color: #000;
	display: block;
	font-size: 15px;
	padding: 5px 0 6px 0;
	text-align: center;
	width: 175px;
}

.upload_button:hover{
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#E3E3E3), to(white));
	text-decoration: none;
}

.share a{
	background: url("/images/icons.png") no-repeat;
	display: block;
	float: left;
	margin-left: 2px;
}

.share a.myspace { background-position: 0 0px; }
.share a.facebook { background-position: 0 -21px; }
.share a.twitter { background-position: 0 -41px; }
.share a.email { background-position: 0 -124px; }

/* Upload Bar */

.uploadifyHeader, .uploadifyProgress, .uploadifyQueueItem .cancel{ display: none; }

.uploadifyQueueItem {
	margin: 10px 0;
	width: 100%;
}

.uploadifyError { color: red; }

.uploadifyProgress {
	background-color: #EEE;
	margin: 10px 0;
	width: 100%;
}

.uploadifyProgressBar {
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#E7AD14), color-stop(0.5, #fadb88), to(#E7AD14)) repeat-x, #E7AD14;
	width: 0px;
	height: 26px;
}