.sc-player{
	background-color: #efefef;
	-moz-border-radius: 5px; -webkit-border-radius: 5px;
  height: 30px;
	padding: 5px;
  position: relative;
}

/* Controls */

.sc-controls, .sc-controls a{ width: 30px; height: 30px; border: 0; }

.sc-controls{
	background-color: #F50;
  position: absolute;
}

.sc-controls a, .sc-player.playing .sc-controls a.sc-pause{ display: block; }

.sc-controls a { color: transparent; background: url('/images/play.png'); }
.sc-controls a:hover { background: url('/images/play-hover.png'); }
.sc-controls a.sc-pause { background: url('/images/play.png'); }
.sc-controls a.sc-pause:hover{ background: url('/images/play-hover.png'); }
.sc-player.playing .sc-controls a.sc-pause{ background: url('/images/pause.png?1'); }
.sc-player.playing .sc-controls a.sc-pause:hover{ background: url('/images/pause-hover.png?1'); }

/* Scrubber */

.sc-scrubber { position: absolute; left: 40px; }

.sc-time-span, .sc-buffer, .sc-played, .sc-waveform-container, .sc-time-span img{ height: 30px; }

.sc-buffer, .sc-played, .sc-waveform-container{ position: absolute; top: 0; }

.sc-time-span{
	background-color: #CCC;
  position: relative;
	width: 563px;
}

.sc-time-span img{ width: 100%; }

.sc-buffer{ background-color: #959595; }

.sc-played { background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#39F), color-stop(0.5, #74B9FF), to(#39F)) repeat-x, #39F; }

/* Misc */

.sc-player-engine-container{ width: 1px; height: 1px; position: fixed; }

.hidden, .sc-artwork-list, .sc-info, .sc-info-toggle, .sc-trackslist, .sc-time-indicators, .sc-controls a.sc-pause, .sc-player.playing .sc-controls a.sc-play { display: none; }