.uploadifyHeader, .uploadifyProgress, .uploadifyQueueItem .cancel{
	display: none;
}
.uploadifyQueueItem {
	margin: 10px 0;
	width: 100%;
}
.uploadifyError {
	color: red;
}
.uploadifyQueueItem .cancel { }
.uploadifyProgress {
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#5C5C5C), color-stop(0.5, #747474), to(#5C5C5C)) repeat-x, #5C5C5C;
	margin: 10px 0;
	width: 100%;
}
.uploadifyProgressBar {
	background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#E7AD14), color-stop(0.5, #fadb88), to(#E7AD14)) repeat-x, #E7AD14;
	width: 0px;
	height: 26px;
}