<div class="player">

	<object height="81" width="100%"> 
		<param name="movie" value="http://player.soundcloud.com/player.swf?url=<%= remix.url -%>"></param> 
		<param name="allowscriptaccess" value="always"></param> 
		<embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=<%= remix.url -%><%= "&auto_play=true" if params[:action] == "show" -%><%= "&#{Time.now.to_i}" -%>" type="application/x-shockwave-flash" width="100%"></embed> 
	</object>

</div>