<h2>Remix On Aviary</h2>

<p>Add Aviary instructions...</p>

<h2>Upload Your Remix</h2>

<p>
	
	<%= link_to 'New remix', new_remix_path %>
	
</p>

<h2>Listen To & Vote On The Remixes</h2>

<% for remix in @remixes %>

	<%= link_to remix.track_id, remix_path(remix.track_id) -%><br>

<% end %>