<h2>Remix On Aviary</h2>

<p><%= link_to "launch aviary", "http://aviary.com/launch/myna?config=rjd2", :target => "_blank" -%></p>

<h2>Upload Your Remix</h2>

<p>
	
	<%= link_to 'upload your remix', new_remix_path %>
	
</p>

<h2>Listen To & Vote On The Remixes</h2>

<p>Sorting / Options</p>

<% for remix in @remixes %>

	<%= link_to remix.track_id, remix -%>
	<%= link_to_remote "Vote", :url => vote_path(remix.id) -%><br>

<% end %>