<div class="block">
	
	<h2>Remix "The Glow"</h2>

	<p>
		
		We've made the stems from "The Glow" available below.<br>
		<br>
		If you don't have any remixing software, you can use avairy.com's online remix software by clicking <%= link_to "here", "http://aviary.com/launch/myna?config=rjd2", :target => "_blank" -%><br>
		<br>
		The deadline for submissions is X. [ insert this is how you win ]<br>
		<br>
		[ insert soundcloud widget ]<br>
		<br>
		<%= link_to 'Upload Your Remix', new_remix_path %>
		
	</p>

</div>

<div class="block">
	
	<h2>Listen To The Remixes</h2>

	<p>Most Popular / Most Recent / Random</p>
	
</div>

<%= render @remixes %>

<%= will_paginate @remixes %>
	
