<% url = "http://api.soundcloud.com/tracks/#{@remix.track_id}" %>

<p>
	
<object height="81" width="100%"> 
	<param name="movie" value="http://player.soundcloud.com/player.swf?url=<%= url -%>"></param> 
	<param name="allowscriptaccess" value="always"></param> 
	<embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=<%= url -%>" type="application/x-shockwave-flash" width="100%"></embed> 
</object>

</p>


<%= link_to 'Edit', edit_remix_path(@remix) %> |
<%= link_to 'Back', remixes_path %>